form#Register {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
}

h2{
    text-align: center;
    text-decoration: underline;
}

label {
    display: flex;
    justify-content: space-between;
    margin: 4px;
    align-items: center;
}

span {
    width: 100%;
    text-align: center;
}

input {
    margin: 0 4px;
}