
#SearchProducts {
    display: flex;
    width: 30vw;
}

#search {
    width:100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchButton {
    text-align: center;
    color: #fff;
    border-radius: 5px;
    margin-left:5px;
    cursor: pointer;
    font-size: 20px;
    border: unset;
}

#searchSubmitButton{
    background-color: #00B4CC;
}

#clearSearch {
    background-color: #ff9800;
}

#hideExtraOptions{
    background-color: #e6c200;
}

#extraOptions{
    display: none;
}

#extraOptions.showExtraOptions{
    display:block;
}
